*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-text-lightblue: #0282f9;
  --bg-main-black: #1c1c1c;
  --nav-text-grey: #4f4f4f;
  --main-footer-titles-white: #fefcf7;
  --footer-text-grey: #83867e;
  --bg-socials: #303030;
}